* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

html {
    font-size: 62.5%;
}

@media(max-width: 2560px) {
    html {
        font-size: 65%;
    }
    h6 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: xx-large;
    }
    .sgpa {
        height: 20rem;
        width: 20rem;
    }
    .cgpa {
        height: 20rem;
        width: 20rem;
    }
}

@media(max-width: 1600px) {
    html {
        font-size: 65%;
    }
    h6 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: xx-large;
    }
    .sgpa {
        height: 20rem;
        width: 20rem;
    }
    .cgpa {
        height: 20rem;
        width: 20rem;
    }
    .one {
        height: 20rem;
        width: 20rem;
        top: 10rem;
        left: 11.25rem;
    }
    .two {
        height: 20rem;
        width: 20rem;
        top: 10rem;
        left: 53.75rem;
    }
}

@media(max-width: 1200px) {
    html {
        font-size: 65%;
    }
    h6 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: xx-large;
    }
    .sgpa {
        height: 20rem;
        width: 20rem;
    }
    .cgpa {
        height: 20rem;
        width: 20rem;
    }
}

@media(max-width: 768px) {
    html {
        font-size: 35%;
    }
    h6 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: xx-large;
    }
    .sgpa {
        height: 20rem;
        width: 20rem;
    }
    .cgpa {
        height: 20rem;
        width: 20rem;
    }
}

@media(max-width: 450px) {
    html {
        font-size: 29%;
    }
    h6 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: xx-large;
    }
    .sgpa {
        height: 20rem;
        width: 20rem;
    }
    .cgpa {
        height: 20rem;
        width: 20rem;
    }
}

@media(max-width: 390px) {
    html {
        font-size: 26.5%;
    }
    h6 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: xx-large;
    }
    .sgpa {
        height: 20rem;
        width: 20rem;
    }
    .cgpa {
        height: 20rem;
        width: 20rem;
    }
}

@media(max-width: 320px) {
    html {
        font-size: 21%;
    }
    h6 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 3rem;
    }
    .sgpa {
        height: 20rem;
        width: 20rem;
    }
    .cgpa {
        height: 20rem;
        width: 20rem;
    }
}

.container {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: black;
    background-size: cover;
}

.header {
    position: relative;
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    background: black;
}

h1 {
    font-family: 'Red Rose', cursive;
    font-size: 6rem;
    color: white;
    text-transform: uppercase;
    text-shadow: .5rem .5rem 0 grey;
}

.holder {
    position: absolute;
    background-color: transparent;
    height: 40rem;
    width: 85rem;
    top: 20rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.one {
    position: absolute;
    filter: opacity(0.8);
    animation: loop alternate-reverse 5s infinite;
}

.two {
    position: absolute;
    filter: opacity(0.8);
    animation: revloop alternate-reverse 5s infinite;
}

@keyframes loop {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes revloop {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.sgpa {
    position: relative;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.sgpa h6:hover {
    transition: 0.5s linear;
    transform: scale(1.1);
}

.cgpa {
    position: relative;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.cgpa h6:hover {
    transition: 0.5s linear;
    transform: scale(1.1);
}

a {
    text-decoration: none;
}

#by a {
    text-decoration: none;
    color: white;
}

nav {
    position: absolute;
    width: 100vw;
    height: 15rem;
}

ul {
    display: flex;
    justify-content: center;
}

ul a {
    text-decoration: none;
    list-style: none;
    color: white;
    margin: 2.5rem 1.5rem;
    font-family: 'Poppins', sans-serif;
    text-shadow: .2rem .2rem 0 grey;
    font-size: 1.5rem;
    font-weight: bolder;
    transition: 0.1s linear;
}

ul a:hover {
    border-bottom: .1rem solid#fff;
    transform: scale(1.1);
}

.footer {
    position: relative;
    background-color: transparent;
    height: 5rem;
    width: 100vw;
    overflow: hidden;
}

#copy {
    color: gray;
    position: absolute;
    background-color: transparent;
    text-align: center;
    letter-spacing: 0;
    font-size: 1.5rem;
    top: 90%;
    left: 46.5%;
}

#by {
    color: gray;
    position: absolute;
    background-color: transparent;
    letter-spacing: 0;
    font-size: 1.5rem;
    top: 90%;
    left: 3rem;
}

i {
    background: transparent;
}

#fb {
    position: absolute;
    color: gray;
    top: 90%;
    margin-right: 5rem;
    font-size: 3rem;
    right: 15rem;
}

#git {
    position: absolute;
    color: gray;
    top: 90%;
    margin-right: 4rem;
    font-size: 3rem;
    right: 11.5rem;
}

#twitter {
    position: absolute;
    color: gray;
    top: 90%;
    margin-right: 3rem;
    font-size: 3rem;
    right: 8rem;
}

#insta {
    position: absolute;
    color: gray;
    top: 90%;
    margin-right: 2rem;
    font-size: 3rem;
    right: 4.5rem;
}

#link {
    position: absolute;
    color: gray;
    top: 90%;
    margin-right: 1rem;
    font-size: 3rem;
    right: 1rem;
}

::-webkit-scrollbar {
    width: .8rem;
}

 ::-webkit-scrollbar-thumb {
    animation: load alternate-reverse 0.1s infinite;
    background: linear-gradient(orange, white);
}

 ::-webkit-scrollbar-thumb:hover {
    animation: load alternate-reverse 0.1s infinite;
    background: linear-gradient(white, orange);
}

#fb:hover {
    color: #1877f2;
}

#git:hover {
    color: #6e5494;
}

#twitter:hover {
    color: #1da1f2;
}

#link:hover {
    color: #007bb5;
}

#insta:hover {
    color: #c32aa3;
}