* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

html {
    font-size: 62.5%;
}

@media(max-width: 2560px) {
    html {
        font-size: 65%;
    }
    .footer {
        top: 140rem;
    }
    #copy {
        top: 3rem;
        display: inline;
        align-items: center;
    }
}

@media(max-width: 1600px) {
    html {
        font-size: 65%;
    }
    .footer {
        top: 140rem;
    }
    #copy {
        top: 3rem;
        display: inline;
        align-items: center;
    }
}

@media(max-width: 1200px) {
    html {
        font-size: 65%;
    }
    .footer {
        top: 140rem;
    }
    #copy {
        top: 3rem;
        display: inline;
        align-items: center;
    }
}

@media(max-width: 768px) {
    html {
        font-size: 35%;
    }
    .footer {
        top: 140rem;
    }
    #copy {
        top: 3rem;
        display: inline;
        align-items: center;
    }
}

@media(max-width: 450px) {
    html {
        font-size: 29%;
    }
    .footer {
        top: 140rem;
    }
    #copy {
        top: 3rem;
        display: inline;
        align-items: center;
    }
}

@media(max-width: 390px) {
    html {
        font-size: 26.5%;
    }
    .footer {
        top: 140rem;
    }
    #copy {
        top: 3rem;
        display: inline;
        align-items: center;
    }
}

@media(max-width: 320px) {
    html {
        font-size: 21%;
    }
    .footer {
        top: 140rem;
    }
    #copy {
        top: 3rem;
        display: inline;
        align-items: center;
    }
}

.container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    text-align: center;
    background: url('images/bg.jpg') no-repeat;
    background-size: cover;
}


a {
    text-decoration: none;
}

#by a {
    text-decoration: none;
    color: orangered;
}

.footer {
    bottom: -30rem;
    margin-bottom: 4rem;
    height: 5rem;
    width: 100vw;
    position: absolute;
    background-color: transparent;
    overflow: hidden;
}

#copy {
    color: orangered;
    position: absolute;
    background-color: transparent;
    text-align: center;
    letter-spacing: 0;
    font-size: 1.5rem;
    top: 45%;
    left: 46.5%;
}

#by {
    color: orangered;
    position: absolute;
    background-color: transparent;
    letter-spacing: 0;
    font-size: 1.5rem;
    top: 45%;
    left: 3rem;
}

i {
    background: transparent;
}

#fb {
    position: absolute;
    color: orangered;
    top: 35%;
    margin-right: 5rem;
    font-size: 3rem;
    right: 15rem;
}

#git {
    position: absolute;
    color: orangered;
    top: 35%;
    margin-right: 4rem;
    font-size: 3rem;
    right: 11.5rem;
}

#twitter {
    position: absolute;
    color: orangered;
    top: 35%;
    margin-right: 3rem;
    font-size: 3rem;
    right: 8rem;
}

#insta {
    position: absolute;
    color: orangered;
    top: 35%;
    margin-right: 2rem;
    font-size: 3rem;
    right: 4.5rem;
}

#link {
    position: absolute;
    color: orangered;
    top: 35%;
    margin-right: 1rem;
    font-size: 3rem;
    right: 1rem;
}

::-webkit-scrollbar {
    width: .8rem;
}

 ::-webkit-scrollbar-thumb {
    animation: load alternate-reverse 0.1s infinite;
    background: linear-gradient(orange, orangered);
}

 ::-webkit-scrollbar-thumb:hover {
    animation: load alternate-reverse 0.1s infinite;
    background: linear-gradient(orangered, orange);
}

#fb:hover {
    color: #1877f2;
}

#git:hover {
    color: #6e5494;
}

#twitter:hover {
    color: #1da1f2;
}

#link:hover {
    color: #007bb5;
}

#insta:hover {
    color: #c32aa3;
}