* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}

html {
    font-size: 62.5%;
}

@media(max-width: 2560px) {
    html {
        font-size: 65%;
    }

    h1 {
        font-size: 8rem;
    }

    .holder {
        height: 40rem;
        width: 150rem;
    }

    .footer {
        top: 69.3rem;
    }
}

@media(max-width: 1600px) {
    html {
        font-size: 60%;
    }

    h1 {
        font-size: 8rem;
    }

    .holder {
        height: 40rem;
        width: 150rem;
    }

    .footer {
        top: 69.3rem;
    }
}

@media(max-width: 1200px) {
    html {
        font-size: 32%;
    }

    h1 {
        font-size: 8rem;
    }

    .holder {
        height: 40rem;
        width: 150rem;
    }

    .footer {
        top: 73rem;
    }
}

@media(max-width: 768px) {
    html {
        font-size: 34%;
    }

    h1 {
        font-size: 8rem;
    }

    .holder {
        height: 40rem;
        width: 150rem;
    }

    .footer {
        top: 127rem;
    }
}

@media(max-width: 450px) {
    html {
        font-size: 27.0%;
    }

    h1 {
        font-size: 5.2rem;
    }

    .holder {
        height: 80rem;
        width: 80rem;
    }

    .footer {
        top: 122rem;
    }
}

@media(max-width: 390px) {
    html {
        font-size: 24.5%;
    }

    h1 {
        font-size: 5rem;
    }

    .holder {
        height: 80rem;
        width: 80rem;
    }

    .footer {
        top: 122rem;
    }
}

@media(max-width: 320px) {
    html {
        font-size: 22.5%;
    }

    h1 {
        font-size: 4.75rem;
    }

    .holder {
        height: 80rem;
        width: 80rem;
    }
}

@media(max-width: 280px) {
    html {
        font-size: 20.5%;
    }

    h1 {
        font-size: 4.5rem;
    }

    .holder {
        height: 80rem;
        width: 80rem;
    }
}

.container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    background: url('../images/Background.png');
    background-size: cover;
}

.header {
    position: fixed;
    margin-top: 6rem;
    height: max-content;
    width: max-content;
    background-color: transparent;
}

h1 {
    font-family: 'Merriweather',
        serif;
    color: transparent;
    -webkit-text-stroke-width: 0.1rem;
    -webkit-text-stroke-color: whitesmoke;
}


a {
    text-decoration: none;
    color: whitesmoke;
}


nav {
    position: fixed;
    width: 100vw;
    height: 7.5rem;
}

ul {
    display: flex;
    justify-content: center;
}

ul a {
    text-decoration: none;
    list-style: none;
    color: whitesmoke;
    margin: 2.5rem 1.5rem;
    font-family: 'Poppins',
        sans-serif;
    font-size: 2.5rem;
    font-weight: bolder;
    transition: .1s all linear;
}

ul a:hover {
    transition: .2s all linear;
    color: transparent;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: whitesmoke;
}

.holder {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    margin-top: 23.5rem;
    display: flex;
    justify-content: space-evenly;
    place-items: center;
}

.sgpa,
.cgpa,
.cgpa2perc {
    /* position: relative;
    border: .2rem solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32rem;
    transition: 1s all linear;
    width: 32rem;
    background-color: rgb(29, 29, 29);
    box-shadow: 2rem 2rem 0rem rgba(255, 255, 255, 0.1); */
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    width: 32rem;
    height: 32rem;
    box-shadow: inset 15rem 15rem 15rem rgba(0, 0, 0, 0.5),
        /* 2rem 2.5rem 15rem rgba(0, 0, 0, 0.5), */
        2rem 2rem 2rem rgba(0, 0, 0, 1),
        inset 0rem 0rem 0.5rem rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .25s all linear;
    background: rgba(255, 255, 255, 0.1);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.2) 40%, rgba(255, 255, 255, 0.1) 100%);
    background-size: 800px 104px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeholderShimmer;
    animation-name: placeholderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    z-index: 999;
}

.sgpa a,
.cgpa a,
.cgpa2perc a {
    height: 32rem;
    width: 32rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@-webkit-keyframes placeholderShimmer {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}

@keyframes placeholderShimmer {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}

/* .sgpa::before,
.cgpa::before,
.cgpa2perc::before {
    content: '';
    position: absolute;
    top: 6.5rem;
    left: 6.5rem;
    width: 10rem;
    height: 5rem;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%, 100% 50%, 0% 50%);
    background: rgba(0, 0, 0, 0.2);
} */


.sgpa::after,
.cgpa::after,
.cgpa2perc::after {
    content: '';
    position: absolute;
    /* top: 14rem;
    left: 1.5rem; */
    width: 20rem;
    height: 20rem;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    background: rgba(0, 0, 0, 0.2);
    z-index: -1;

}


/* #bubble {
    position: relative;
    height: 32rem;
    width: 32rem;
    margin-top: 25rem;
    margin-right: 0rem;
    animation: loop linear 1s infinite;
    display: none;
}

#bubble1 {
    position: relative;
    height: 32rem;
    width: 32rem;
    margin-top: 25rem;
    margin-left: 12rem;
    animation: loops linear .05s infinite;
}

@keyframes loop {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loops {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
} */

.sgpa:hover,
.cgpa:hover,
.cgpa2perc:hover {
    transform: scale(1.05);
    box-shadow: inset 1rem 1rem 15rem rgba(0, 0, 0, 0.5),
        /* 2rem 2.5rem 15rem rgba(0, 0, 0, 0.5), */
        0rem 0rem 1rem rgba(255, 255, 255, 0.2),
        inset 0rem 0rem 1rem rgba(255, 255, 255, 0.2);
}

h6 {
    font-family: 'Poppins',
        sans-serif;
    font-size: 4rem;
    transition: 1s all linear;
    color: transparent;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: whitesmoke;
    z-index: 5;
}

.footer {
    position: fixed;
    margin-bottom: 2.5rem;
    height: 7rem;
    width: 100vw;
    background-color: transparent;
}

#copy {
    color: whitesmoke;
    position: absolute;
    background-color: transparent;
    text-align: center;
    letter-spacing: 0rem;
    font-family: 'Poppins',
        sans-serif;
    font-size: 1.5rem;
    margin-top: 2.5rem;
    left: 50%;
    transform: translate(-50%);
}

#by {
    color: whitesmoke;
    position: absolute;
    background-color: transparent;
    font-family: 'Poppins',
        sans-serif;
    letter-spacing: 0;
    font-size: 1.5rem;
    margin-top: 2.5rem;
    left: 3rem;
}

i {
    background: transparent;
}

#fb {
    position: absolute;
    color: whitesmoke;
    margin-top: 2.5rem;
    margin-right: 5rem;
    font-size: 3rem;
    right: 15rem;
}

#whatsapp {
    position: absolute;
    color: whitesmoke;
    margin-top: 2.5rem;
    margin-right: 5rem;
    font-size: 3rem;
    right: 18rem;
}


#git {
    position: absolute;
    color: whitesmoke;
    margin-top: 2.5rem;
    margin-right: 4rem;
    font-size: 3rem;
    right: 11.5rem;
}

#twitter {
    position: absolute;
    color: whitesmoke;
    margin-top: 2.5rem;
    margin-right: 3rem;
    font-size: 3rem;
    right: 8rem;
}

#insta {
    position: absolute;
    color: whitesmoke;
    margin-top: 2.5rem;
    margin-right: 2rem;
    font-size: 3rem;
    right: 4.5rem;
}

#link {
    position: absolute;
    color: whitesmoke;
    margin-top: 2.5rem;
    margin-right: 1rem;
    font-size: 3rem;
    right: 1rem;
}

#fb:hover {
    color: #1877f2;
}

#git:hover {
    color: #6e5494;
}

#twitter:hover {
    color: #1da1f2;
}

#link:hover {
    color: #007bb5;
}

#insta:hover {
    color: #c32aa3;
}

#whatsapp:hover {
    color: #25D366;
}

.videoback {
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -100;
}