* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}

html {
    font-size: 62.5%;
}

@media(max-width: 2560px) {
    html {
        font-size: 65%;
    }

    h1 {
        font-size: 8rem;
    }

    .holder {
        height: 40rem;
        width: 150rem;
    }
}

@media(max-width: 1600px) {
    html {
        font-size: 60%;
    }

    h1 {
        font-size: 8rem;
    }

    .holder {
        height: 40rem;
        width: 150rem;
    }
}

@media(max-width: 1200px) {
    html {
        font-size: 32%;
    }

    h1 {
        font-size: 8rem;
    }

    .holder {
        height: 40rem;
        width: 150rem;
    }
}

@media(max-width: 768px) {
    html {
        font-size: 34%;
    }

    h1 {
        font-size: 8rem;
    }

    .holder {
        height: 40rem;
        width: 150rem;
    }
}

@media(max-width: 450px) {
    html {
        font-size: 27.0%;
    }

    h1 {
        font-size: 5.2rem;
    }

    .holder {
        height: 80rem;
        width: 80rem;
    }
}

@media(max-width: 390px) {
    html {
        font-size: 24.5%;
    }

    h1 {
        font-size: 5rem;
    }

    .holder {
        height: 80rem;
        width: 80rem;
    }
}

@media(max-width: 320px) {
    html {
        font-size: 22.5%;
    }

    h1 {
        font-size: 4.75rem;
    }

    .holder {
        height: 80rem;
        width: 80rem;
    }
}

@media(max-width: 280px) {
    html {
        font-size: 20.5%;
    }

    h1 {
        font-size: 4.5rem;
    }

    .holder {
        height: 80rem;
        width: 80rem;
    }
}

.container {
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: center;
    text-align: center;
    /* background: url('images/bg.jpg');
    background-size: cover; */
}

.header {
    position: fixed;
    margin-top: 6rem;
    height: max-content;
    width: max-content;
    background-color: transparent;
}

h1 {
    /* font-family: 'Black Ops One', cursive; */
    /* font-family: 'Major Mono Display', monospace; */
    font-family: 'New Rocker', cursive;
    color: rgb(17,17,17);
    text-transform: uppercase;
    /* letter-spacing: 0.5rem; */
    /* text-shadow: 1rem 1rem 0 rgba(255, 255, 255, 0.); */
    text-shadow: inset 15rem 15rem 15rem rgba(0, 0, 0, 0.05),
    1.5rem 2.5rem 15rem rgba(0, 0, 0, 0.05),
    1.5rem 2rem 2rem rgba(0, 0, 0, 0.05),
    inset -15rem -15rem 1.5rem rgba(255, 255, 255, 0.9);
}

a {
    text-decoration: none;
    color: rgb(17,17,17);
}


nav {
    position: fixed;
    width: 100vw;
    height: 7.5rem;
}

ul {
    display: flex;
    justify-content: center;
}

ul a {
    text-decoration: none;
    list-style: none;
    color: rgb(17,17,17);
    margin: 2.5rem 1.5rem;
    /* font-family: 'Black Ops One', cursive; */
    font-family: 'New Rocker', cursive;
    font-size: 2.5rem;
    font-weight: bolder;
    transition: .1s all linear;
    text-shadow: .5rem .5rem 0rem rgba(255, 255, 255, 0.1);
}

ul a:hover {
    border-bottom: .1rem solid rgba(255, 255, 255, 0.1);
    transform: scale(1.1);
    text-shadow: none;
}

.holder {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    margin-top: 23.5rem;
    display: flex;
    justify-content: space-evenly;
    place-items: center;
}

.sgpa,
.cgpa,
.cgpa2perc {
    /* position: relative;
    border: .2rem solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32rem;
    transition: 1s all linear;
    width: 32rem;
    background-color: rgb(29, 29, 29);
    box-shadow: 2rem 2rem 0rem rgba(255, 255, 255, 0.1); */

    position: relative;
    width: 32rem;
    height: 32rem;
    box-shadow: inset 15rem 15rem 15rem rgba(0, 0, 0, 0.15),
    2rem 2.5rem 15rem rgba(0, 0, 0, 0.15),
    2rem 2rem 2rem rgba(0, 0, 0, 0.15),
    inset 0rem 0rem 1.5rem rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .25s all linear;
}

.sgpa::before,
.cgpa::before,
.cgpa2perc::before {
    content: '';
    position: absolute;
    top: 6.5rem;
    left: 6.5rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
}

.sgpa::after,
.cgpa::after,
.cgpa2perc::after {
    content: '';
    position: absolute;
    top: 5rem;
    left: 11.5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
}

/* #bubble {
    position: relative;
    height: 32rem;
    width: 32rem;
    margin-top: 25rem;
    margin-right: 0rem;
    animation: loop linear 1s infinite;
    display: none;
}

#bubble1 {
    position: relative;
    height: 32rem;
    width: 32rem;
    margin-top: 25rem;
    margin-left: 12rem;
    animation: loops linear .05s infinite;
}

@keyframes loop {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loops {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
} */

.sgpa:hover,
.cgpa:hover,
.cgpa2perc:hover {
    transform: scale(1.1);
    box-shadow: inset 15rem 15rem 15rem rgba(0, 0, 0, 0.15),
    2.5rem 2.5rem 15rem rgba(0, 0, 0, 0.15),
    2.5rem 2rem 2rem rgba(0, 0, 0, 0.15),
    inset 0rem 0rem 1.5rem rgba(255, 255, 255, 0.9);
}

.cgpa a h6:hover,
.sgpa a h6:hover,
.cgpa2perc a h6:hover {
    transition: 0.5s linear;
    transform: scale(1.05);
}

h6 {
    /* font-family: 'Black Ops One', cursive; */
    font-family: 'New Rocker', cursive;
    font-size: 5rem;
    font-weight: bolder;
    transition: 1s all linear;
    color: rgb(17,17,17);
    z-index: 5;
}

.footer {
    position: fixed;
    bottom: 5rem;
    height: 6.5rem;
    width: 100vw;
    overflow: hidden;
}

#copy {
    color: rgb(17,17,17);
    position: absolute;
    background-color: transparent;
    text-align: center;
    letter-spacing: 0rem;
    font-family: 'New Rocker', cursive;
    font-size: 1.5rem;
    margin-top: 2.5rem;
    left: 50%;
    transform: translate(-50%);
}

#by {
    color: rgb(17,17,17);
    position: absolute;
    background-color: transparent;
    font-family: 'New Rocker', cursive;
    letter-spacing: 0;
    font-size: 1.5rem;
    margin-top: 2.5rem;
    left: 3rem;
}

i {
    background: transparent;
}

#fb {
    position: absolute;
    color: rgb(17,17,17);
    margin-top: 2.5rem;
    margin-right: 5rem;
    font-size: 3rem;
    right: 15rem;
}

#whatsapp {
    position: absolute;
    color: rgb(17,17,17);
    margin-top: 2.5rem;
    margin-right: 5rem;
    font-size: 3rem;
    right: 18rem;
}

/* #whatsapp:hover {
    color: #25D366;
} */

#git {
    position: absolute;
    color: rgb(17,17,17);
    margin-top: 2.5rem;
    margin-right: 4rem;
    font-size: 3rem;
    right: 11.5rem;
}

#twitter {
    position: absolute;
    color: rgb(17,17,17);
    margin-top: 2.5rem;
    margin-right: 3rem;
    font-size: 3rem;
    right: 8rem;
}

#insta {
    position: absolute;
    color: rgb(17,17,17);
    margin-top: 2.5rem;
    margin-right: 2rem;
    font-size: 3rem;
    right: 4.5rem;
}

#link {
    position: absolute;
    color: rgb(17,17,17);
    margin-top: 2.5rem;
    margin-right: 1rem;
    font-size: 3rem;
    right: 1rem;
}

/* #fb:hover {
    color: #1877f2;
}

#git:hover {
    color: #6e5494;
}

#twitter:hover {
    color: #1da1f2;
}

#link:hover {
    color: #007bb5;
}

#insta:hover {
    color: #c32aa3;
} */

.videoback {
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -100;
}